:root {
    --backgroundColor: #212121;
    --textColor: #ffffff;
    --formBg: #2c2c2c;
    --buttonBg: #3f51b5;
    --buttonHover: #303f9f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divider{
    height: 2px;
    width: 80%;
    background-color: gray;
    margin:0px 0px 4px 0px;
}

.summary{
    background-color: #cfcfcf;
    color: #212121;
    padding: 30px 20px;
    font-size: larger;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.personDetail{
    gap: 8px;
    margin:0px 0px 14px 0px;
}

.person{
    border-radius: 14px;
    background-color: #5d5d5d;
    color: black;
    margin:0px 0px 6px 0px;
    padding: 14px;
}

.participantsContainer{
    max-height: 300px;
    overflow-y: auto;
}